{% extends "base.html" %}

{% block title_head %}
<title>Crear producto</title>
{% endblock title_head %}

{% block h1_header %}

{% block header %}
<header class="header">
    <div class="menu container">
        <a href="#" class="logo">hard <span class="logospan">Gamers</span></a>
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="./img/menu.png" class="menu-icono" alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a class="navbar-brand" href={% url "inicio" %}>Inicio</a></li>
                <li><a class="navbar-brand" href={% url "nosotros" %}>Nosotros</a></li>
                <li><a class="navbar-brand" href={% url "placavideo" %}>Placas de video</a></li>
                <li><a class="navbar-brand" href={% url "procesador" %}>Procesadores</a></li>
                <li><a class="navbar-brand" href={% url "monitor" %}>Monitores</a></li>
                <li><a href="contacto.html">Contacto</a></li>   
            </ul>
        </nav>
    </div>

    <div class="header-content container">
        <div class="header-txt">
            <h1><span class="green">Crear Monitor</span></h1>
            <!-- <h2>¿Quienes somos?</h2> -->
            <h1>
                <strong>⬇</strong>
            </h1>
            <!-- <a href="#" class="btn-1">Informacion</a> -->
        </div>
    </div>
</header>
{% endblock header %}

{% endblock h1_header %}

{% block main %}

<!--

    <form action="" method="POST">
        {% csrf_token %}
        <p>
            Marca:
            <input type="text" name="marca">
        </p>
        <p>
            Descripcion:
            <input type="text" name="descripcion">
        </p>
        <p>
            Año:
            <input type="number" name="anio">
        </p>
        
        <input type="submit" value="Crear">
        {% comment %} <button>Crear</button> {% endcomment %}
        
    </form>
-->


<form action="" method="POST">
    {% csrf_token %}
    {{formulario}}
    <input type="submit" value="Crear">
</form>

{% endblock main %}