{% extends "base.html" %}

{% block title_head %}
<title>HardGamer</title>
{% endblock title_head %}

{% block h1_header %}
<h1>HardGamer</h1>
<p>Los mejores componentes para tu PC!.</p>
{% endblock h1_header %}

{% block section %}

<section class="blog">
    <span></span>
    <h2>NOS ESPECIALIZAMOS EN:</h2>

    <div class="blog-content container">
        <div class="blog-1">
            <img src="../static/assets/img/bg-showcase-3.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Placas de video </strong> </span>
                <h3>Nvidia - AMD </h3>
                <p>La tarjeta gráfica o tarjeta de vídeo de un componente que viene integrado en la placa base del PC o se instala a parte para ampliar sus capacidades. Concretamente, esta tarjeta está dedicada al procesamiento de datos relacionados con el vídeo y las imágenes que se están reproduciendo en el ordenador.
                </p>
            </div>
        </div>

        <div class="blog-1">
            <img src="../static/assets/img/bg-showcase.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Procesadores </strong> </span>
                <h3>Intel - AMD</h3>
                <p>Es el cerebro de todo el funcionamiento del sistema, el encargado de dirigir todas las tareas que lleva a cabo el equipo y de ejecutar el código de los diferentes programas. Muchas veces, con la ayuda del resto de componentes y periféricos.
                </p>                    
            </div>
        </div>

        <div class="blog-1">
            <img src="../static/assets/img/bg-showcase-1.jpg" alt="">
            <div class="blog-txt">
                <span> <strong> Monitores </strong> </span>
                <h3>La mejor linea</h3>
                <p>El monitor del computador, también conocido como pantalla, muestra la información de tu equipo como imágenes y textos, que son generados gracias a una tarjeta de video que se encuentra en el interior de la torre del computador.
                </p>
            </div>
        </div>

    </div>
</section>

{% endblock section %}