{% extends "base.html" %}

{% block title_head %}
<title>Procesadores</title>
{% endblock title_head %}

{% block header %}

<header class="header">
    <div class="menu container">
        <a href="#" class="logo">hard <span class="logospan">Gamers</span></a>
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="./img/menu.png" class="menu-icono" alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a class="navbar-brand" href={% url "inicio" %}>Inicio</a></li>
                <li><a class="navbar-brand" href={% url "nosotros" %}>Nosotros</a></li>
                <li><a class="navbar-brand" href={% url "placavideo" %}>Placas de video</a></li>
                <li><a class="navbar-brand" href={% url "procesador" %}>Procesadores</a></li>
                <li><a class="navbar-brand" href={% url "monitor" %}>Monitores</a></li>
                <li><a href="contacto.html">Contacto</a></li>   
            </ul>
        </nav>
    </div>

    <div class="header-content container">
        <div class="header-txt">
            <h1><span class="green">Procesadores</span></h1>
            <!-- <h2>¿Quienes somos?</h2> -->
            <p>
                <strong>Los mejores CPU para tu Pc Gamer!.</strong>
            </p>
            <!-- <a href="#" class="btn-1">Informacion</a> -->
        </div>
    </div>
</header>

{% endblock header %}

{% block main %}
<h3>
    <a href={% url "crear_procesador" %}>Crear Procesador</a>
</h3>

    <form action="">
        {% comment %} <input type="text" name="marca" placeholder="Wilson, Head..."> {% endcomment %}
        {{formulario}}
        <input type="submit" value="Buscar">
    </form>


{% if listado_de_procesador %}
<ul>
    {% for procesador in listado_de_procesador %}
    <li>{{procesador}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron Procesadores.</p>
{% endif %}

{% endblock main %}