<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="entrenamiento funcional, Zona sur, gym, Lomas de zamora, vida sana, entrenamiento al aire libre" >
    <meta name="description" content="Somos lideres en entrenamiento funcional en la zona sur del conurbano de la provincia de Bs As.">

    {% block title_head %}
    <title>Base</title>
    {% endblock title_head %}

    <link href={% static "css/styles.css" %} rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./img/logo1.jpeg" type="image/x-icon">
    
</head>

<body id="arriba">

    {% block header %}

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">hard <span class="logospan">Gamers</span></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../static/assets/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a class="navbar-brand" href={% url "inicio" %}>Inicio</a></li>
                    <li><a class="navbar-brand" href={% url "nosotros" %}>Nosotros</a></li>
                    <li><a class="navbar-brand" href={% url "placavideo" %}>Placas de video</a></li>
                    <li><a class="navbar-brand" href={% url "procesador" %}>Procesadores</a></li>
                    <li><a class="navbar-brand" href={% url "monitor" %}>Monitores</a></li>
                    <li><a href="contacto.html">Contacto</a></li>   
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1><span class="green">hard</span>Gamers</h1>
                <p><strong>De gamers para gamers.</strong></p>                
            </div>
        </div>
    </header>    

    {% endblock header %}

    {% block section %}
    {% endblock section %}

    {% block main %}
    {% endblock main %}


    

    <footer class="footer">        
        <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>

            <ul>
                <li>
                    <a href="#arriba">Inicio</a>
                </li>
                <li>
                    <a href="nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="placavideo.html">Placas de video</a>
                </li>
                <li>
                    <a href="procesador.html">Procesadores</a>
                </li>
                <li>
                    <a href="monitor.html">Monitores</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>

            <p class="copyright">
                HardGamer Argentina 2023 ® todos los derechos reservados
            </p>
    </footer>
        
        <script src="https://kit.fontawesome.com/96269ff2ef.js" crossorigin="anonymous"></script>
        
    </body>
    </html>